= link_to 'Individuals', individuals_path
%p
  %strong Id:
  = @individual.id
%p
  %strong First Name:
  = @individual.first_name
%p
  %strong Last Name:
  = @individual.last_name
%p
  %strong Gender:
  = @individual.gender

%p
  %strong Date of birth:
  = @individual.date_of_birth

%p
  %strong Date of death:
  = @individual.date_of_death
