%h1 Trees
= link_to 'New tree', new_tree_path

%table
  %tr
    %th Id
    %th Name
    %th{:colspan => "3"}

  - @trees.each do |tree|
    %tr
      %td= tree.id
      %td= tree.name
      %td= link_to 'Show', tree_path(tree)
      %td= link_to 'Edit', edit_tree_path(tree)
      %td= link_to 'Destroy', tree_path(tree),
        method: :delete,
        data: { confirm: 'Are you sure?' }
